body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.container {
    text-align: center;
}

.chairman-image {
    position: relative;
    display: inline-block;
    width: 20rem; 
    height: 20rem; 
    border-radius: 50%; 
    object-fit: cover; 
}
    

.chairman-image:before{ 
content: "Special Effect";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 24px;
  color: #333;
}


 .message { 
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 40px;
    background-color: rgb(238, 115, 115);
} 
